<div class="container">
    <div class="col-8">
        <h1>About</h1>
        <p>Welcome to your personal home base - a place to organize your thoughts and keep your productivity going. 
        Keep track of all your projects in one place and celebrate each victory along the way. </p>

        <h4>To Be Continued</h4>
    </div>
</div>
