<div class="card mt-3" id='task-<%= task.id %>'>
    <div class="card-header"><%= link_to task.title, "#{task.project.id}/tasks/#{task.id}" %></div>
    <div class="card-body"><%= date_format(task.created_at) %></div>
</div>
