<div class="card mt-3">
    <div class="card-header">Current Projects</div>
    <table class="table table-striped">
        <%= render( partial: 'projects/project', collection: current_user.projects ) || content_tag('tr') do %>
            <td>No Projects yet - click below to get started!</td> 
        <% end %>
    </table>
</div>
