<div class="card mt-3">
    <div class="card-header text-center">Recent Activity!</div>
        <ul class="list-group list-group-flush">
            <%= render( partial: "activities/activity", collection: @activities ) || 'Nothing here yet!' %>
        </ul>
    </div>
</div>
