<div class="row">
    <div class="col-12">
        <h1 class="hub"><%= @user.name %>Hub</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <%= render 'current_card'  %>
    </div>
    <div class="col-sm-5">
        <%= render 'recent' %>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <%= link_to "New Project", { controller: 'projects', action: 'new' }, class: 'btn btn-success' %>
    </div>
</div>

