<div class="card" id = <%= task.id %>>
    <div class="card-header"><%= link_to task.title, "#" %></div>
    <div class="card-body"><p>Created at: <%= date_format(task.created_at) %></p></div>
</div>
