<li class="list-group-item">
    <p><%= action_ed(activity) %> <%= activity.trackable_type %><%= content_type(activity) %></p>
    <small class="float-left"><%= date_format(activity.created_at) %></small>
</li> 
