<li class="list-group-item">
    <%= action_ed(activity) %> <%= activity.trackable_type %><%= content_type(activity) %>
    <small class="float-right"><%= date_format(activity.created_at) %></small>
</li> 
